.client-container {
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-content: center;
}

.card {
    background-color: #0d171d; /* Couleur bleue */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(163, 29, 29, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-details {
    padding: 15px;
}

.card-details h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000000; /* Couleur du texte blanc */
}

.card-details p {
    font-size: 0.9rem;
    margin-bottom: 5px;
    color: #0d0e0e; /* Couleur du texte blanc */
}

.btn-delete {
    background-color: #faf5f5;
    color: #cc2d2d;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #ff7875;
}
